<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>


<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #e3f2fd;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="/">
      <img src="http://www.thedesignlove.com/wp-content/uploads/2017/01/037-Seafood-Chef-Logo-Template.jpg" width="30" height="30" alt="">
    </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
      <%= link_to 'Home', "/", class:"nav-link" %>
      </li>

      <li class="nav-item active">
      <%= link_to 'Contact Us', "/contact-us", class:"nav-link" %>
      </li>

    </ul>

  </div>
</nav>

<div class="container-fluid" style="width: 80%;">

  <h1 class="text-center"> MENU </h1>

  <ul style="text-align:center;" class="nav nav-tabs">

    <% @sections.each do |section| %>
      <div class="nav-item nav-link <%= 'active' if params[:section] == section.name %>" >
        <%= link_to section.name, "/menus?section="+section.name %>
      </div>
    <% end %>

  </ul>

  <table id="myTable" class="display table" style="margin-top:10px;">
    <thead>
      <tr>
        <th>#</th>
        <th style="width:20%">Name</th>
        <th>Description</th>
        <th style="width:10%">Price</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each_with_index do |item, index| %>
      <tr>
        <th><%= index + 1 %></th>
          <td style="width:20%"><%= link_to item.name, item_path(item) %></td>
          <td><%= item.description %></td>
          <td style="width:10%"><%= item.price %> </td>
          <td><img src="<%= item.image_url %>" style="with:100px; height: 100px;"></img></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>

map.check_teachers, '/school/check_teachers/:id' :controller => :school, :action => :check_teachers
